.body {
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}

    
.seccion {
    padding: 30px;
}
.iconos {
    font-size: 27px;
    margin-left: 99%;
}
.iconos button {
    margin-left: 99%;
}
.container-perfil img {
 
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 15px;

}

